body.dark-mode{
    background: url(guille-pozzi.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.input.dark-mode::placeholder {
    color: #787878; 
}
.input.dark-mode{
    background: #000;
    color: #FFF;
}

.dark-mode:focus {
    outline-color: #6B8CE1;
}
@-moz-document url-prefix() {
    .dark-mode:focus {
        outline: none !important;
        box-shadow: 0 0 0 2px #6B8CE1, 0 0 0 3px #6B8CE1 !important;
    }
}

#button-input.dark-mode {
    background: #787878;
    color: #000; 
}

#task-container.dark-mode {
    background: #000;
    color: #FFF; 
}

.new-task.dark-mode {
    border: 1px solid #787878;
    background: #000;
}

.checkbox.dark-mode {
    border: 1px solid #787878;
    background: #000;
}

.checkbox.dark-mode:checked {
    background-color: #6B8CE1;
    
/*modo check con ilustración
    background-image: url(/assets/checkbox3.png);
    background-size: contain;
    border: none;
    height: 16px;
    width: 16px; */
}

.delete.dark-mode {
    color: #787878; 
}
