@import url(./toggle-darkmode.css);
@import url(./dark-mode.css);

/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    padding: 60px 65px;
    flex-direction: column;
    align-items: center;
    gap: 82px;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background: url("/assets/aubrey-odom.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*:focus {
    outline-color: rgb(173, 255, 47);
}

@-moz-document url-prefix() {
    *:focus {
        outline: none !important;
        box-shadow: 0 0 0 2px rgb(173, 255, 47), 0 0 0 3px rgb(173, 255, 47) !important;
    }
}

/*sección input */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}
.input {
    height: 45px;
    font-size: 15px;
    border: none;
    padding: 12px;
    font-weight: 500;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.input::placeholder {
    color: #D9D9D9;
}
#input-new-task {
    width: 211px;
    height: 32px;
}
#input-new-task__description {
    width: 211px;
    height: 32px;
}
#button-input {
    display: flex;
    width: 211px;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F5F5F5;
    cursor: pointer;
    color: #787878;
    font-weight: bolder;
}
/*sección tasks */
#task-container {
    display: flex;
    width: 229px;
    padding: 9px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FFF;
}
#task-container-list{
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
}
p{
    font-size: smaller;
    display: none;
}
.new-task {
    list-style: none;
    display: flex;
    width: 209px;
    padding: 14px 10px;
    align-items:flex-start;
    align-content:flex-start;
    gap: 7px;
    flex-wrap: wrap;
    border: 1px solid #F5F5F5;
    background: #FFF;
    font-size: 12px;
}
.checkbox {
    appearance: none;
    width: 12px;
    height: 12px;
    border: 2px solid #D9D9D9;
    cursor: pointer;
}
.checkbox:checked {
background: linear-gradient(315deg, rgb(166, 237, 137) 0%, rgb(69, 110, 64) 100%);

/* background-image: url(/assets/checkbox1.png);
background-size: contain;
border: none;
height: 17px;
width: 17px;
position: absolute; */
}

.task-name {
    width: 81%;
    font-weight: bold;
    text-transform: uppercase;
}
.task-description {
    font-weight: lighter;
    text-align: justify;
}
.completed {
    text-decoration: line-through;
    order: 2;
}
.delete {
    width: 8px;
    height: 15px;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: none;
}
/* responsive */
@media screen and (min-width: 768px) {
    .input-container {
        flex-direction: row;
    }
    #button-input{
        display: inline-flex; 
        height: 32px;
        width: auto;
    }
 }
